/* App.css */
.cake-body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
}

.cake-button {
    position: absolute;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    width: 100px;
    height: 100px;
}

.moving-button:hover {
    transform: scale(1.1);
}
