@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.letter-body{
    background: linear-gradient(to top, #f0ffff, #ffe4e1);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-paper{
    padding: 30px;
    border-radius: 20px;
    background-color: #f5f5f5;
    line-height: 1.2;
    width: 60vw;
    font-size: 20px;
    font-family: 'Ownglyph_meetme-Rg';
}

.letter-paper hr{
    margin: 6px;
}

.letter-content{
    margin-left: 20px;
}

.letter-from {
    text-align: right;
    margin-right: 20px;
}

.letter-next{
    position: absolute;
    bottom: 60px;
    right: 70px;
    background-image: url("../images/chick.png");
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: transparent;
}